{% extends "index.html" %}
{% block content %}

<div class="top-container">
    <div class="top-align-box">
        <button class="btn btn-primary border border-light-subtle" id="download">
            CSV 다운로드
        </button>
        <div class="btn-group border border-light-subtle d-none" role="group">
            <button class="btn btn-light border-light-subtle tags">에러 페이지</button>
            <button class="btn btn-light border-start border-light-subtle tags">기본 페이지</button>
            <!-- .bak 파일, default page -->
            <button class="btn btn-light border-start border-light-subtle tags">서버 정보 노출</button>
            <button class="btn btn-light border-start border-light-subtle tags">중요 정보 노출</button>
            <!-- /admin, /wp-admin, /wp-login.php, /wp, /WEB-INF, 각종 config파일 /web.config, web.xml -->
            <button class="btn btn-light border-start border-light-subtle tags">기타</button>
        </div>
    </div>

    <div class="top-align-box">
    <form id="searchForm">
        <div class="input-group">
            <button type="button" class="btn btn-light dropdown-toggle border border-light-subtle" data-bs-toggle="dropdown">
                <span id="search-concept">URL</span>
            </button>
            <ul class="dropdown-menu scrollable-dropdown">
                <li><a class="dropdown-item" href="#">서브도메인</a></li>
                <li><a class="dropdown-item" href="#">제목</a></li>
                <li><a class="dropdown-item" href="#">URL</a></li>
                <li><a class="dropdown-item" href="#">콘텐츠</a></li>
            </ul>
            <input type="hidden" name="search-param" id="search-param" value="URL">
            <input type="text" class="form-control border border-light-subtle" id="searchInput" placeholder="Search">
            <button class="btn btn-light border border-light-subtle" id="submitButton" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
    </div>
</div>

<div class="body-container mb-4">
<div class="top-align-box justify-content-between">
    <div class="top-total">
        검색 결과: <strong></strong>개
    </div>
    <div class="form-check form-switch me-1 d-none" id="public-filter">
        <input class="form-check-input" type="checkbox" role="switch" id="switch-check">
        <label class="form-check-label" for="switch-check">데이터 필터링</label>
    </div>
</div>

<table class="table table-hover" style="table-layout: fixed; word-break: break-all;">
    <thead class="table table-dark">
        <tr>
            <th class="lh-base" style="width: 4%; text-align: center;">#</th>
            <th class="p-0" style="width: 20%;">
                <div class="d-flex flex-wrap justify-content-between align-items-end">
                    <span>서브도메인</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                        style="--bs-btn-padding-x: .50rem; --bs-btn-padding-y: 0rem;" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li><a class="dropdown-item active" href="#">전체</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">구글</a></li>
                            <li><a class="dropdown-item" href="#">Bing</a></li>
                        </ul>
                    </div>
                </div>
            </th>
            <th style="width: 20%;">제목</th>
            <th>URL</th>
            <th style="width: 35%;">콘텐츠</th>
        </tr>
    </thead>
    <tbody id="results"></tbody>
</table>

<ul id="page-number" class="pagination justify-content-center mb-0"></ul>
</div>

<script>
var page = 1;
var queryed = false;
var loading = false;
var pagename = $(location).attr('pathname');

$(document).ready(function() {
    loadContent();
    loadInitiateResults(true, pagename);
    downloadButton(pagename);
});
</script>
</div>

{% endblock %}