{% extends "index.html" %}
{% block content %}

<div class="top-container">
    <div class="top-align-box">
        <button class="btn btn-primary border border-light-subtle" id="download">
            CSV 다운로드
        </button>
        <div class="btn-group border border-light-subtle" role="group">
            <button class="btn btn-light border-light-subtle tags">PDF</button>
            <button class="btn btn-light border-start border-light-subtle tags">XLSX</button>
            <button class="btn btn-light border-start border-light-subtle tags">PPTX</button>
            <button class="btn btn-light border-start border-light-subtle tags">DOCX</button>
            <button class="btn btn-light border-start border-light-subtle tags">기타</button>
        </div>
    </div>
    <div class="top-align-box">
        <form id="searchForm">
            <div class="input-group">
                <button type="button" class="btn btn-light dropdown-toggle border border-light-subtle" data-bs-toggle="dropdown">
                    <span id="search-concept">파일 이름</span>
                </button>
                <ul class="dropdown-menu scrollable-dropdown">
                    <li><a class="dropdown-item" href="#">파일 이름</a></li>
                    <li><a class="dropdown-item" href="#">주요 데이터</a></li>
                </ul>
                <input type="hidden" name="search-param" id="search-param" value="파일 이름">
                <input type="text" class="form-control border border-light-subtle" id="searchInput" placeholder="Search">
                <button class="btn btn-light border border-light-subtle" id="submitButton" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="body-container mb-4">
<div class="top-align-box justify-content-between">
    <div class="top-total">
        검색 결과: <strong></strong>개
    </div>
    <div class="form-check form-switch me-1" id="public-filter">
        <input class="form-check-input" type="checkbox" role="switch" id="switch-check">
        <label class="form-check-label" for="switch-check">데이터 필터링</label>
    </div>
</div>

<table class="table table-hover" style="table-layout: fixed; word-break: break-all;">
    <thead class="table table-dark">
        <tr>
            <th style="width: 4%; text-align: center;">#</th>
            <th style="width: 4%; text-align: center;">타입</th>
            <th>파일 이름</th>
            <th>파일 링크</th>
            <th>주요 데이터</th>
        </tr>
    </thead>
    <tbody id="results"></tbody>
</table>

<ul id="page-number" class="pagination justify-content-center mb-0"></ul>
</div>
</div>

<script>
var page = 1;
var loading = false;
var queryed = false;
var pagename = "/fileparse";

$(document).ready(function() {
    loadContent();
    defaultResult(true, pagename);
    downloadButton(pagename);
});
</script>
</div>

{% endblock %}