{% extends "index.html" %}
{% block content %}

<style>
.content-wrapper {
    max-width: 1024px;
    overflow: hidden;
}
#distribution-chart, #totalcount-chart {	
    height: 100%;
}
.card-header{
    font-weight: bold;
}
</style>

<div class="top-container">
    <span class="top-title">대시보드</span>
</div>

<div class="row mb-4">
    <div class="col-8 d-flex align-items-stretch">
        <div class="card flex-fill">
            <div class="card-header">검색 결과 분포</div>
            <div class="card-body">
                <canvas id="distribution-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex align-items-stretch">
        <div class="card">
            <div class="card-header">식별된 전체 자산 수</div>
            <div class="card-body">
                <canvas id="totalcount-chart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-8 d-flex align-items-stretch">
        <div class="card flex-fill">
            <div class="card-header">크롤링 진행 상황</div>
            <div class="card-body d-flex justify-content-evenly">
                <div><canvas id="bing-progress"></canvas></div>
                <div><canvas id="google-progress"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex align-items-stretch">
        <div class="card">
            <div class="card-header">정보 노출 분포</div>
            <div class="card-body">
                <canvas id="exposestate-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    $("#dashboard").addClass("selected");
    $(".nav-tabs").hide();

    var Canvas = []
    Canvas.push($('#distribution-chart'));
    Canvas.push($('#totalcount-chart'));
    Canvas.push($('#google-progress'));
    Canvas.push($('#bing-progress'));
    Canvas.push($('#exposestate-chart'));
    
    function resize(){
        Canvas.forEach(chart => {
            chart.outerWidth(
                (chart.parent('div').width())
            );
            chart.outerHeight(
                (chart.parent('div').height()) * 0.9
            );
        })
    }

    $(document).ready(function(){
        resize();
        loadDashBoard();

        $(window).on("resize", function(){                      
            resize();
        });
    });
</script>
{% endblock %}

<!---->