{% extends "index.html" %}
{% block content %}

<div class="top-container">
    <span class="top-title">기타 설정</span>
</div>

<div class="body-container">
    <h5><b>데이터베이스 설정</b></h5>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold fs-6">데이터 컨트롤</div>
                <div>
                    <p style="display: inline;">데이터 자동 분류</p>
                    <a class="icon-link icon-link-hover link-primary link-underline-primary link-underline-opacity-25" id="data-classify" href="#">
                        시작 <svg class="bi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold fs-6">파일 컨트롤</div>
                <div>
                    <p style="display: inline;">파일 제목 설정</p>
                    <a class="icon-link icon-link-hover link-primary link-underline-primary link-underline-opacity-25" id="file-title" href="#">
                        시작 <svg class='bi' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                    </a>
                </div>
            </div>
        </li>
    </ol>
<hr style="visibility: hidden;">
    <h5><b>크롤러 설정</b></h5>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold fs-6">Test list</div>
                <div>
                    <p style="display: inline;">Test list</p>
                    <a class="icon-link icon-link-hover link-primary link-underline-primary link-underline-opacity-25" id="" href="#">
                        시작 <svg class="bi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                    </a>
                </div>
            </div>
        </li>
    </ol>
</div>

<script>
$(".nav-wrapper .nav-tabs").hide();

$("#data-classify").on("click", function() {
    $.ajax({
        type: "GET",
        dataType: "jsonp",
        jsonp: "callback",
        url: "http://192.168.6.90:4000/data/classify",
        success: function(data) {
            console.log('데이터:', data.status);
        }
    })
});

$("#file-title").on("click", function() {
    $.ajax({
        type: "GET",
        dataType: "jsonp",
        jsonp: "callback",
        url: "http://192.168.6.90:4000/data/file",
        success: function(data) {
            console.log('데이터:', data.status);
        }
    })
});
</script>

{% endblock %}